header.header role="banner" itemscope="" itemtype="http://schema.org/WPHeader"
  h1.header__logo role="presentation"
    a.header__link href="#{ config[:relative_url] }/" rel="home" #{config[:site_name]}
